.home_page_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg_color);

    //Header
    header {
        width: 100%;
        height: 70vh;
        display: flex;
        max-width: 1140px;
        padding: 80px 0px 0;
        gap: 16px;


        .header_slogan {
            border-radius: 8px;
            width: 50%;
            height: 100%;
            color: var(--white);
            display: flex;
            flex-direction: column;
            align-items: self-start;
            text-align: start;
            background: var(--bg_color2);
            padding: 40px;
            gap: 16px;

            .p1 {
                font-family: var(--f-bold);
                font-size: 36px;
                color: var(--gold);
                line-height: 1.2;
            }

            .p2 {
                font-size: 18px;
                font-family: var(--f-regular);
            }
        }

        .swiper {
            width: 50%;
            height: 100%;
            border-radius: 8px;

            .slider_item {

                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }


        }

    }

    .catalogue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        h1 {
            font-size: 36px;
            font-family: var(--f-bold);
            color: var(--white);
        }
    }

    .scroller_container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg_color2);

        h1 {
            color: var(--white);
            font-size: 36px;
            font-family: var(--f-bold);
            padding: 40px 0;
        }

        .scroller_departments {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: var(--white);
            font-family: var(--f-regular);
            font-size: 18px;

            .scroll_parts {
                display: flex;

                .scroller_text {
                    padding: 20px 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .about_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 64px;
        gap: 64px;
        color: var(--white);
        background: var(--bg_color2);

        .about_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;

            h1 {
                font-size: 36px;
                font-family: var(--f-bold);
            }

            p {
                max-width: 1140px;
                text-align: center;
                font-size: 16px;
                font-family: var(--f-regular);
                line-height: 1.3;
            }
        }

        .contacts {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;

            h1 {
                font-size: 36px;
                font-family: var(--f-bold);
            }
        }
    }

    @media screen and (max-width: 1140px) {

        header {
            height: 60vh;
            padding: 80px 16px 0;

            .header_slogan {
                padding: 40px 16px 0;

                .p1 {
                    font-size: 24px;
                }

                .p2 {
                    font-size: 14px;
                }
            }
        }

        .catalogue {
            padding-top: 16px;
            padding-bottom: 0;
        }

        .scroller_container {

            h1 {
                padding: 16px 0;
            }
        }


    }

    @media screen and (max-width: 768px) {
        header {
            height: 50vh;

            .header_slogan {
                padding: 20px 16px;
                width: 100%;
                gap: 8px;

                .p1 {
                    font-size: 24px;
                }

                .p2 {
                    font-size: 12px;
                }
            }
        }

        .about_wrapper {
            padding: 32px 16px;
            gap: 32px;

            .contacts {
                flex-direction: column;
                gap: 16px;
            }
        }

    }
}