header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-white);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gray);
    font-size: 14px;
    max-width: 1140px;
    width: 100%;
    border-radius: 0 0 8px 8px;

    .top_links_inner {
      display: flex;
      gap: 16px;
      padding: 8px;
    }

    .top_links_menu {
      display: flex;
      gap: 16px;
      padding: 8px;
    }
  }

  .navbar {
    max-width: 1140px;
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    .nav_inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      border-bottom: 1px;

      .logo {
        font-size: 42px;
        font-family: var(--font);
        color: var(--color-primary);
      }

      .search {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
          width: 100%;
          height: 34.5px;
          padding: 0 40px 0 14px;
          border: 1px solid var(--color-border);
          border-radius: 8px;
        }

        .search_button {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
        }
      }

      .search_dropdown {
        position: absolute;
        top: calc(100% + 6px);
        left: 0;
        width: 100%;
        background: var(--color-white);
        border: 1px solid var(--color-gray);
        border-radius: 8px;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0 10px 25px var(--color-gray);
      }

      .search_item {
        padding: 12px 14px;
        cursor: pointer;

        &:hover {
          background: var(--color-gray);
        }
      }

      .search_label {
        padding: 8px 14px;
        font-size: 12px;
        color: var(--color-border);
        border-bottom: 1px solid var(--color-border);
      }

      .nav_actions {
        display: flex;
        align-items: center;
        gap: 16px;

        .nav_button {
          background: var(--color-white);
          color: var(--color-black);
          padding: 10px 16px;
          border-radius: 8px;
          cursor: pointer;
          transition: var(--transition);
          border: 1px solid var(--color-border);

          &:hover {
            background: var(--color-gray);
            color: var(--color-primary);
          }
        }

        .order_btn {
          background: var(--color-primary);
          color: var(--color-white);
          padding: 10px 16px;
          border-radius: 8px;
          cursor: pointer;
          transition: var(--transition);
          font-size: 18px;


          &:hover {
            background: var(--color-primary-hover);
          }
        }
      }


    }
  }
}

@media screen and (max-width: 1140px) {
  header {
    .top_links {
      width: 100%;
      max-width: 768px;
      padding: 8px;
      gap: 8px;
      font-size: 12px;
    }

    .navbar {
      max-width: 768px;
      padding: 12px 40px;

      .nav_inner {
        gap: 12px;

        .logo {
          font-size: 32px;
        }

        .search {
          width: 40%;
        }

        .nav_actions {
          gap: 12px;

          .nav_button {
            padding: 8px 14px;
            font-size: 12px;
          }

          .order_btn {
            padding: 10px 14px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;

    .top_links {
      display: none;
    }

    .navbar {
      max-width: 768px;
      padding: 0 16px;
      height: auto;

      .nav_inner {
        gap: 10px;
        padding: 0px 16px;


        .logo {
          font-size: 20px;
          letter-spacing: -2px;
        }

        .search {
          width: 100%;
          padding: 10px;

          input {
            font-size: 14px;
          }
        }

        .nav_actions {
          gap: 12px;

          .nav_button {
            display: none;
          }

        }
      }
    }
  }
}