.Navbar {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    padding: 16px;
    left: 0;
    z-index: 99;
    background: var(--bg_color2);
    border-radius: 0 0 6px 6px;

    .inner_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        border-radius: 8px;
        height: 100%;
        margin: 0 auto;

        .nav_logo {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .logo {
                display: flex;

                a {

                    img {
                        width: 100px;

                    }
                }
            }
        }

        .btn {
            width: fit-content;
            height: 36px;
            color: var(--white);
            font-size: 20px;
        }
    }
}