.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 64px;
  background: var(--color-white);

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #eaeaea;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);

  z-index: 1000;

  /* iPhone safe area */
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 11px;
  color: #888;
  text-decoration: none;

  transition: 0.6s ease;
}

/* активная вкладка */
.nav-item.active {
  color: var(--color-primary);
}

/* только мобилка */
@media (min-width: 768px) {
  .mobile-bottom-nav {
    display: none;
  }
}