:root {
    --f-bold: 'Bold';
    --f-medium: 'Light';
    --f-regular: 'Regular';
    --white: #f5f0ea;
    --white2: #d9cbc2;
    --black: #000;
    --bg_color: #3b507d;
    --bg_color2: #112250;
    --gold: #e0c58e;
    --btn-transition: .25s ease;
}


//Fonts

@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/Noto-Bold.ttf') format("OpenType");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('./assets/fonts/Noto-Light.ttf') format("OpenType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./assets/fonts/Noto-Light.ttf') format("OpenType");
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

html,
body,
#root {
    overflow: hidden;
    overflow-y: auto;
    // height: 100vh;
    min-height: 100vh;
    width: 100%;
    // background-image: url('./assets/media/images/container_image-new.svg');
    background: var(--bg_color2);
    background-attachment: fixed;

}

// .glass {
//     position: relative;
//     overflow: hidden;
//     background: rgba(202, 202, 202, 0.274) !important;
//     border: 1px solid rgb(172, 172, 172);
//     box-shadow: 0 6px 20px rgba(255, 255, 255, 0.144);
//     transition: 0.4s ease;
//     backdrop-filter: blur(10px) saturate(180%);
//     -webkit-backdrop-filter: blur(10px) saturate(180%);

//     &::before {
//         content: '';
//         position: absolute;
//         inset: 0;
//         z-index: 0;
//         background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), transparent);
//         pointer-events: none;
//     }

//     &::after {
//         content: '';
//         position: absolute;
//         inset: 0;
//         background: rgba(255, 255, 255, 0.05);
//         box-shadow:
//             inset 1px 1px 3px rgba(255, 255, 255, 0.3),
//             inset -1px -1px 5px rgba(0, 0, 0, 0.2);
//         pointer-events: none;
//         z-index: 0;
//     }

//     &>* {
//         position: relative;
//         z-index: 1;
//     }

// }

.loading_icon {
    height: 52px;
    animation: loadingIconAnim .5s linear infinite;
}

@keyframes loadingIconAnim {
    100% {
        transform: rotateZ(360deg);
    }
}


.gallery_grid_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 56px 28px;

    a {
        .image_wrapper {

            img {
                height: 200px;
            }
        }
    }

    @media screen and (max-width: 1140px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px 20px;

        .single_gallery_card {
            .card_title {
                h2 {
                    font-size: 24px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        .single_gallery_card {
            .card_title {
                h2 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {

        a {

            .image_wrapper {

                img {
                    height: 130px;
                }
            }
        }
    }
}

.parallax__wrapper {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    mask: linear-gradient(90deg,
            transparent,
            white 10%,
            white 90%,
            transparent);
    -webkit-mask:
        linear-gradient(90deg,
            transparent,
            white 10%,
            white 90%,
            transparent);

    .parallax__scroller {
        display: flex;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;

        span {
            display: flex;
            gap: 16px;

            img {
                width: 250px;
                border-radius: 8px;
            }
        }

        @media screen and (max-width: 1140px) {
            gap: 16px;

            span {
                gap: 16px;

                img {
                    width: 200px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            gap: 12px;

            span {
                gap: 12px;

                img {
                    width: 150px;
                }
            }
        }

    }
}

.scroll-to__top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gold);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.23);
    transition: all 0.3s ease;

    &:active {
        transform: scale(.97);
    }

    svg {
        height: 25px;
    }
}

.scroll-to__top.show {
    animation: scrollToTopShow .3s ease forwards;
}

@keyframes scrollToTopShow {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

.scroll-to__top.hide {
    animation: scrollToTopHide .3s ease forwards;
}

@keyframes scrollToTopHide {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.icons8-app {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gold);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.23);
    transition: all 0.3s ease;

    &:active {
        transform: scale(.97);
    }

    .svg_tg {
        height: 30px;
        padding-right: 5px;
    }
}


.slide_wrapper {
    width: 100%;
    height: 100%;

    .mySwiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                width: 100%;
                height: 100%;

                .slider_item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    h3 {
                        color: var(--white);
                        font-family: var(--f-medium);
                        letter-spacing: 3px;
                        line-height: 1.3;
                        font-size: 48px;
                        position: absolute;
                        padding: 150px 64px;
                    }
                }

                @media screen and (max-width: 1140px) {
                    .slider_item {
                        h3 {
                            padding: 120px 40px;
                            font-size: 36px;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    .slider_item {
                        h3 {
                            padding: 40px 16px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.fixed-img__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    // background-image: url('./assets/media/images/container_image-new.svg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: var(--bg_color2);
    z-index: -6;
}