footer {
    position: relative;
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .footer_container {
        border-radius: 6px 6px 0 0;
        background: var(--bg_color);
        max-width: 1140px;
        width: 100%;
        padding: 16px 40px;
        margin: 0 auto;
        align-items: center;


        .f_cont_logo {
            text-align: center;

            img {
                width: 100px;
                height: auto;
            }
        }

        .footer_container_inner {
            width: 100%;

        }

        .footer_bottom {
            width: 100%;
            font-size: 14px;
            color: var(--white);
            font-family: var(--f-regular);
            padding-top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;

            span {
                a {
                    color: var(--white);
                    transition: all .3s ease;

                    &:hover {
                        color: var(--gold);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1140px) {
        .footer_container {
            padding: 28px 40px;
        }
    }

    @media screen and (max-width: 768px) {
        .footer_container {
            padding: 16px;
        }
    }
}